// @import "variaveis.less";
@import "mapas.less";

@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(min-width: 768px) and (max-width: 1023px)";

.marginBottom12 {
    margin-bottom: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

body {
    background-color: #colors[backgroundColor];
    color: #colors[textColor];
}

li {
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @media @breakpointMobile {
        max-width: 70%;
    }

    @media @breakpointTablet {
        max-width: 80%;
    }

    nav > li {
        margin: 80px;
    }
}

header {
    padding-bottom: 0px;

    img {
        width: 96px;
        height: 96px;
    }

    .profile-avatar {
        display: block;
        margin: 12px auto 24px;
        border-radius: 50%;
    }
}

.profile-bio {
    text-align: center;
    &-name {
        font-size: 28px;
        .marginBottom12();
    }

    &-subtitle {
        font-size: 16px;
        color: #f8f8f8d6;
        .marginBottom12();
    }

    &-description {
        font-size: 14px;
        opacity: .7;
    }
}

.social-links {
    display: flex;
    justify-content: space-between; 
    max-width: 240px;
    width: 100%;
    margin: 24px auto;
    
        img {
            transition: all ease .3s;
            &:hover {
                transform: scale(1.3);
            }
        }
}

.projects-list {
    &-item {
        a {
            text-decoration: none;
            background-color: #colors[buttonColor];
            display: block;
            padding: 16px 20px;
            margin-bottom: 16px;
            margin-top: 32px;
            text-align: center;
            color: #colors[textColor];
            font-weight: bold;
            border-radius: 30px;
            border: 2px solid #colors[buttonColor];
            transition: all ease .5s;

            &:hover {
                color: #colors[buttonColor]; 
                background: transparent;
            }
        }
    }
}

.teste-123 {
        text-decoration: none;
        background-color: #colors[buttonColor];
        display: block;
        padding: 16px 20px;
        margin-bottom: 16px;
        margin-top: 32px;
        text-align: center;
        color: #colors[textColor];
        font-weight: bold;
        border-radius: 30px;
        border: 2px solid #colors[buttonColor];
        transition: all ease .5s;

        &:hover {
            color: #colors[buttonColor]; 
            background: transparent;
        }
}
